# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env
.npm
*.log

# IDEs
.vscode
.idea
*.swp

# Certificates and temp files
*.p12
*.cer
*.certSigningRequest
temp*
certificate*
